h1, h2 {
    text-align: center;
}
/* border for articles */
.colors, .fonts, .text {
    border: solid red;
}


section {
    display: inline-block;
    padding: 1rem;
    magrin: 10px;
    text-align: center;
}
.blue {
    background-color: rgb(19, 32, 204);
    width: 200px;
    height: 200px;
}

.red {
    background-color: rgb(128, 25, 6);
    width: 200px;
    height: 200px;
}

.green {
    background-color: rgb(89, 218, 15);
    width: 200px;
    height: 200px;
}